:root {
  --color-amarillo: #ffd700;
  --color-verde:#1A535C;
  --color-text: #fff;
  --color-azul: #1e3a8a;
  --color-blanco: #d1d0cf;
}

.container {
  height: 100vh;
  color: var(--color-blanco);
  display: flex;
  justify-content: center;
  align-items: center;
}

.h2 {
  font-weight: 700;
  font-size: 50px;
  margin: 0;
  padding-bottom: 20px;
}

.container_text2 {
 display: flex;
 flex-direction: column;
  background-color: var(--color-verde);
  border-radius: 33px;
  width: 1400px;
  height: 70vh;
  padding-top: 30px;
  padding-left: 20px;
  justify-content: space-around;
}

.text {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}

.line {
  height: 3px;
  background-color: #ffd700;
  width: 80%;
  margin: auto;
}

