:root {
  --color-amarillo: #ffd700;
  --color-verde: #004d40;
  --color-text: #fff;
  --color-azul: #1e3a8a;
  --color-blanco: #d1d0cf;
}


.background{
    background-image:url("../../public/img/fondoAdvice.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: var(--color-text);
    max-width: 1000px;
    margin: auto;
    padding-top: 100px;
  
}


.container_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinea los elementos al inicio (izquierda) */
  justify-content: center; /* Opcional: centra verticalmente */
  text-align: left; /* Alinea el texto a la izquierda */
  margin: 0 auto; /* Centra horizontalmente si es un bloque */
  max-width: 1000px; /* Opcional: para que no sea tan ancho */
  padding: 20px; /* Espaciado interno */
  color: var(--color-text);
  gap: 10px;
  font-size: 30px ;


}

span{
    color: var(--color-amarillo);
    font-weight: 700;
}

.otraClase{
    color: #ffd700;
}