:root {
  --color-amarillo: #ffd700;
  --color-verde: #004d40;
  --color-text: #fff;
  --color-azul: #1e3a8a;
  --color-blanco: #d1d0cf;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.background {
  background-image: url("../../public/img/fondoAdvice.png");
  border-radius: 33px;
  width: 1400px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.text {
  display: flex;
  font-size: 25px;
  color: var(--color-text);
  max-width: 1000px;
  padding: 30px 40px;
}

span {
  color: var(--color-amarillo);
  font-weight: 700;
}
.p {
  font-size: 58px;
  color: var(--color-amarillo);
  font-weight: 700;
  max-width: 750px;
  align-self: flex-end;
  text-align: end;
  padding-right: 20px;
  padding-bottom: 20px;
}