@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-amarillo: #B0AD12;
  --color-verde: #014E41;
  --color-text: #fff;
  --color-azul: #1e3a8a;
  --color-blanco: #d1d0cf;
  --color-fondo-new: #FEF4F4;
}

.container {
  height: 100vh;
  flex-wrap: wrap;

}

nav {
  border-bottom: 1.5px solid var(--color-verde);
  padding: 1rem 2.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 120px;
  height: 70px;
}

.containerItem {
  display: flex;
  flex-direction: column;
  line-height: 1.2rem;
}

.containerItem a {
  color: var(--color-verde);
  text-decoration: none;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.containerItem a:hover {
  color: var(--color-amarillo);
}

.containerHero {
  display: flex;
  flex-direction: column;
}



.backgroundImg {
  background-image: url('../../public/imgHero.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #5E5455;
  background-blend-mode: luminosity;
  height: 300px;
  margin: 1rem 0.2rem;

  position: relative;

}

.textHero {
  display: flex;
  justify-content: space-between;
  margin: 0.7rem 0.4rem;
}

.textHero h2 {
  color: #B0AD12;
  text-transform: uppercase;
  font-weight: 800;
  font-style: normal;
  font-family: "Archivo", sans-serif;
  font-size: 2rem;
  text-shadow: 1px 1px 4px #00000032;
}

.textHeroP {
  color: var(--color-text);
  text-align: end;
  text-transform: uppercase;
  line-height: 1.4rem;
  font-size: 1.2rem;
  font-weight: 800;
  font-style: normal;
  font-family: "Archivo", sans-serif;
}

.containerDescription {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: end;
  padding: 1rem 1rem;
  line-height: 1.5rem;

}

.containerDescription h3 {
  color: var(--color-verde);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.8rem;
}

.containerDescription p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 0.9rem;
}

.textBottom{
  color: var(--color-text);
  font-size: 0.8rem;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1rem ;
  text-transform: uppercase;
    font-style: normal;
  font-family: "Archivo", sans-serif;
  font-weight: 200;
}

@media (min-width: 1000px) {
  .containerHero {
    justify-content: space-between;
    flex-direction: row;
    height: calc(100% - 100px);
    padding: 6rem 3rem;
  }

  .logo {
    width: 200px;
    height: 90px;
  }

  .backgroundImg {
    box-shadow:
      0 0 0 3px white,
      -8px 8px 0px var(--color-verde);
    height: 500px;
    width: 90%;
    padding: 2rem 1.5rem;
  }

  .containerItem {

    line-height: 1.5rem;
  }

  .containerItem a {
    font-size: 1.8rem;
  }

  .textHero h2 {
    font-size: 5rem;
    margin-top: 3rem;
  }

  .textHeroP {
    line-height: 4rem;
    font-size: 3.5rem;
  }

  .containerDescription h3 {
    font-size: 2.5rem;

  }

  .containerDescription p {
    font-size: 1.2rem;
  }

  .containerDescription {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: end;
    padding: 0 1rem;
    line-height: 2rem;
  }

  .textBottom{

  font-size: 2rem;

}
}