@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-amarillo: #ffd700;
  --color-verde: #004d40;
  --color-text: #fff;
  --color-azul: #1e3a8a;
  --color-blanco: #d1d0cf;
}

.container_banner {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 80px;
  padding-top: 50px;
}

.blue {
  background-color: var(--color-azul);
  background-image: url("../../public/personImg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 33px;
  width: 1400px;
  height: 70vh;
  position: sticky;
  top: 50px;
  z-index: 1;
}

.container_text2 {
  display: flex;
  flex-direction: column;
  background-color: var(--color-verde);
  border-radius: 33px;
  width: 1400px;
  height: 70vh;
  padding: 30px 100px;
  justify-content: space-around;
  color: var(--color-text);
  position: sticky;
  top: 100px;
  z-index: 2;
}

.text {
  font-size: 19px;
  font-weight: 400;
  text-align: center;
  line-height: 50px;
}

.line {
  height: 3px;
  background-color: #ffd700;
  width: 80%;
  margin: auto;
}

.h2 {
  font-weight: 700;
  font-size: 41px;
  margin: 0;
  padding-bottom: 20px;
}


.container_all_text {
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: space-around;
  padding: 0 40px;
}

.container_text {
  display: flex;
  font-size: 40px;
  font-weight: 700;
  color: var(--color-text);
}

.text2 {
  text-align: center;
  width: 100%;
}

.text3 {
  text-align: end;
  width: 100%;
}

.bottom_text {
  color: var(--color-text);
  font-size: 25px;
  text-align: center;
  font-weight: 400;
}



.background {
  background-image: url("../../public/img/fondoAdvice.png");
  border-radius: 33px;
  width: 1400px;
  height: 70vh;
  background-color: var(--color-text);
  position: sticky;
  top: 150px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px); 
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

}

.text8 {
  display: flex;
  font-size: 23px;
  color: var(--color-text);
  max-width: 1000px;
  padding: 30px 40px;
}

span {
  color: var(--color-amarillo);
  font-weight: 700;
}

.p {
  font-size: 50px;
  font-weight: 700;
  max-width: 750px;
  align-self: flex-end;
  text-align: end;
  padding-right: 20px;
  padding-bottom: 20px;
   font-family: "Archivo";
   text-transform: uppercase;
   line-height: auto;
   letter-spacing: -1px;
  color: transparent; 
  -webkit-text-stroke: 2px var(--color-amarillo); /* Usando tu variable de color amarillo */
  text-shadow: 2px 2px 10px rgba(247, 247, 247, 0.1); /* Sombra sutil */
  

}

/* ======================================================= */
/* ESTILOS PARA TABLETS (De 837px hasta 1600px de ancho)   */
/* ======================================================= */
@media (min-width: 837px) and (max-width: 1600px) {
 

.text{
  font-size: 20px;
  line-height: 35px;
}
}




@media (max-width: 836px) {


  .textBlue1 {
    font-size: 22px;
  }

  .text2 {
    font-size: 22px;
  }

  .text3 {
    font-size: 22px;
  }

  .container_text2 {
    border-radius: 23px;
    max-width: 380px;
    padding: 20px 30px;
       height: 500px;
  }

.background {
  border-radius: 23px;
  width: 380px;
  height: 500px;

}
  .blue {
    border-radius: 23px;
    max-width: 380px;
    top: 10px;
    height: 500px;
  }

  .bottom_text {
    font-size: 13px;
  }

  .h2 {
    font-size: 20px;
    padding-bottom: 20px;
  }

  .text {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}



.text8 {
  font-size: 15px;
  padding: 50px 10px;
  text-align: center;
}
.p {
  font-size: 30px;
  max-width: 750px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 30px;
  text-align: center;
}

}