@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-amarillo: #b0ad12;
  --color-verde: #1a535c;
  --color-text: #fff;
  --color-azul: #1e3a8a;
  --color-blanco: #d1d0cf;
  --color-azul-zafiro: #0b3954;
}

.container_banner {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 80px;
}

.blue {
  background-color: var(--color-amarillo);
  background-image: url("../../public/personImg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 90%;
  height: 70vh;
  position: sticky;
  top: 50px;
  z-index: 1;
  margin-top: 100px;
}

.container_text2 {
  display: flex;
  flex-direction: column;
  background-color: var(--color-verde);
  width: 90%;
  height: 70vh;
  padding: 30px 100px;
  justify-content: space-around;
  color: var(--color-text);
  position: sticky;
  top: 100px;
  z-index: 2;

  margin-top: 300px;
}

.text {
  font-size: 19px;
  font-weight: 400;
  text-align: center;
  line-height: 50px;
}

.line {
  height: 3px;
  background-color: #ffd700;
  width: 80%;
  margin: auto;
}

.h2 {
  font-weight: 700;
  font-size: 41px;
  margin: 0;
  padding-bottom: 20px;
}

.container_all_text {
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: space-around;
  padding: 0 40px;
}

.container_text {
  display: flex;
  font-size: 40px;
  font-weight: 700;
  color: var(--color-text);
}

.text2 {
  text-align: center;
  width: 100%;
}

.text3 {
  text-align: end;
  width: 100%;
}

.bottom_text {
  color: var(--color-text);
  font-size: 25px;
  text-align: center;
  font-weight: 400;

  margin: auto;
}

.background {
  width: 100vw;
  height: fit-content;
  position: sticky;
  top: 150px;
  z-index: 3;
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.text8 {
  display: flex;
  font-size: 1rem;
  color: #000;
  max-width: 1000px;
  padding: 30px 40px;
  text-align: left;
}

.container_advice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  background-color: var(--color-text);
}
.container_advice img {
  width: 100%;
  height: 420px;
  margin-top: 5px;
  mix-blend-mode: luminosity;
}

span {
  color: var(--color-amarillo);
  font-weight: 700;
}

.p {
  font-size: 2rem;
  color: var(--color-verde);
  line-height: 2.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  margin-right: 2rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

.containerWhatsApp {
  display: flex;
  margin: 2rem 1rem;
  gap: 0.5rem;
  background-color: var(--color-verde);
  border-radius: 12px;
  padding: 0.5rem 1rem;
  width: fit-content;
  cursor: pointer;
  text-decoration: none;
}

.containerWhatsApp:hover {
  background-color: var(--color-amarillo);
}

.wp {
  width: 20px;
  height: 20px;
}

.btn {
  background: none;
  border: none;
  color: var(--color-text);
  font-size: 1rem;
  cursor: pointer;
}

@media (max-width: 850px) {
  .textBlue1 {
    font-size: 22px;
  }

  .text2 {
    font-size: 22px;
  }

  .text3 {
    font-size: 22px;
  }

  .container_text2,
  .background,
  .blue {
    width: 96%;

    height: 500px;
  }

  .blue {
    top: 10px;
  }
  .container_text2 {
    top: 50px;
    padding: 40px 30px;
  }

  .bottom_text {
    font-size: 13px;
  }

  .h2 {
    font-size: 20px;
    padding-bottom: 20px;
  }

  .text {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
  }

  .text8 {
    font-size: 15px;
    padding: 50px 10px;
    text-align: center;
  }
  .p {
    font-size: 1.7rem;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 0px;
    margin-top: 30px;
    text-align: start;
  }

  .background {
    flex-direction: column;
    margin: 200px auto;
  }
  .container_advice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    background-color: var(--color-text);
    width: 100%;
  }

  .container_advice img {
    width: 100%;
    height: 220px;
    margin-top: 5px;
    mix-blend-mode: luminosity;
  }

  .text8 {
    padding: 30px 10px;
    text-align: start;
  }
}
