:root {
    --color-amarillo: #ffd700;
    --color-verde: #004d40;
    --color-text: #fff;
    --color-azul: #1e3a8a;
    --color-blanco: #d1d0cf;
    --color-black: #000000;
}
.container {
    display: flex;
    flex-direction: column;
    min-height: fit-content;

    background-image: url("../../public/fondo\ footer.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}
.p {
    color: var(--color-text);
    font-size: 50px;
    font-weight: 600px;
    max-width: 750px;
    margin: 200px 100px 100px 200px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border: 2px solid var(--color-amarillo);
    border-radius: 26px;
    height: fit-content;
    width: 508px;
    margin: 0 200px;
}
form input {
    background: none;
    border: none;
    border-bottom: 1px solid var(--color-amarillo);
    padding: 5px 0;
    color: var(--color-text);
    padding-left: 20px;
}
form textarea {
    background: none;
    border: none;
    padding: 5px 0;
    color: var(--color-text);
    padding-left: 20px;
}
form textarea::placeholder {
    color: var(--color-text);
}
form input::placeholder {
    color: var(--color-text);
}
form input:focus-visible {
    outline: none;
    border-color: var(--color-amarillo);
    box-shadow: 0 0 0 1px var(--color-amarillo);
}
form textarea:focus-visible {
    outline: none;
    border-color: var(--color-amarillo);
    box-shadow: 0 0 0 1px var(--color-amarillo);
}
.imageNati {
    width: 585px;
    height: 800px;
    position: absolute;
    right: 100px;
    bottom: 5px;
}
.containerAll {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 20px;
}
.containerForm {
    margin: 0 200px;
    display: flex;
    justify-content: space-between;
    color: var(--color-amarillo);
    font-size: 15px;
    font-weight: 500;
}
.containerForm a {
    color: var(--color-amarillo);
    text-decoration: none;
}
.mail {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    flex: 1;
}
.social {
    flex: 1;
}
.imgCorreo {
    width: 15px;
    height: 15px;
}
.redes {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}
.socialText {
    text-align: center;
}
.imgRedes {
    width: 15px;
    height: 15px;
}
.containerRedes {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 2px;
}
.btnFooter {
    background-color: var(--color-amarillo);
    color: var(--color-verde);
    padding: 10px 20px;
    border-radius: 26px;
    border: none;
    width: fit-content;
    margin-left: auto;
    cursor: pointer;
}

  .imageNatiMobil{
      display: none;
    }

    /*
  Añade esto en tu archivo Footer.module.css si quieres
  personalizar aún más los elementos internos de la alerta.
*/
.mySwalButton {
  /* Le ponemos el texto del botón en un color oscuro para que resalte sobre el amarillo */
  color: #004d40 !important; 
  font-weight: bold !important;
}

.mySwalTitle {
  font-size: 1.5em !important; /* Hacemos el título un poco más grande */
}

/* Pega esto en tu archivo Footer.module.css */

.spinner {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff; /* El color de la parte que gira */
  animation: spin 1s ease-in-out infinite;
  margin-right: 10px; /* Espacio entre el spinner y el texto */
  vertical-align: middle;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.footerCodex{
    background-color: #000000;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12px;
    color: var(--color-text);
    font-size: 10px;
}

.codex{
    width: 14px;
    height: 14px;
    margin: 0 4px;
}

.codexLogo{
    display: flex;
    align-items: center ;
    
}

@media (min-width: 837px) and (max-width: 1600px) {
    .p {
        font-size: 35px;
        margin: 145px 50px 50px 100px;
    }
    .imageNati {
        width: 520px;
        height: 700px;
        right: 10px;
        bottom: 5px;
    }
}

@media (max-width: 836px) {
    .container {
        margin-top: 250px;
        height: 110vh;
    }
    .p {
        max-width: 310px;
        font-size: 20px;
        margin: 150px auto 0 auto;
    }
    .imageNati {
        display: none;
    }
    .containerAll {
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 20px;
    }
    .mail {
        justify-content: flex-start;
        margin-left: 10px;
    }
    form {
        gap: 20px;
        padding: 10px;
        width: 350px;
    }
    .containerForm {
        font-size: 10px;
        width: 300px;
       margin-right: 250px;
       
    }
    .redes {
        display: flex;
        justify-content: space-around;
        padding: 10px 0;
    }
    form textarea {
        font-size: 11px;
    }

    .imageNatiMobil{
        display: flex;
        position: relative;
        margin: 0 auto ;
        top: -60px;
        width: 390px;
        height: 500px;

    }

    .codex{
    width: 10px;
    height: 10px;
    margin: 0 5px;
}

    .footerCodex{
    
    flex-direction: column;
    padding: 3px 12px;
    font-size: 7px;
}
}